/SpielClient 3/nbproject/private/
/SpielServer/nbproject/private/
/SpielServer/build/
/SpielServer/dist/
/SpielClient 3/dist/
/SpielClient 3/build/
/SpielClient3/build/
/SpielClient3/dist/
/SpielClient3/nbproject/private/